* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: black;
    color:whitesmoke;
    margin-top: 2%;
    margin-left: 35%;
    justify-content: center;
    font-size: 1em;
}

#titulo {
    margin-left: 5%;
    font-family:'Times New Roman', Times, serif;
    color: rgb(241, 43, 43);
    text-shadow: 2px 2px 2px chartreuse;
}

fieldset {
    border: 0;
}

.grupo {
    margin-top: 2%;
}

.subtitulo {
    margin-left: 5%;
    margin-bottom: 1%;
    font-family:'Times New Roman', Times, serif;
    color:darkgrey;
}

input, button {
    border-radius: 10px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: chartreuse;
}

.campo input[type="text"], .campo input[type="date"], .campo input[type="number"], .campo select {
    padding: 0.2em;
    border: 3px solid chartreuse;
    box-shadow: 3px 3px 3px rgb(241, 43, 43);
}

.lgpd {
    margin-top: 4em;
}

.botao {
    padding: 1em;
    border: 0;;
    border-radius: 20px;
    background-color: rgb(241, 43, 43);
    color: whitesmoke;
    box-shadow: 3px 3px 3px chartreuse;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 2em;
    margin-top: 1em;
}

.botao:hover {
    font-size: 1em;
    cursor: pointer;
}